<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Phim mới</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Phim lẻ</a></li>
            <li><a href="#">Phim bộ</a></li>
            <li><a href="#">Phim hay</a></li>
            <div class="col-md-6 mb-4">
                <form class="form-inline">
                    <i class="material-icons" aria-hidden="true"> search></i>
                    <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                        aria-label="Search">
                </form>

            </div>
        </ul>
    </div>
</nav>