.frame{
    width:300px;
    height:300px;
    
    border-radius: 10px;
    background-color:rgb(131, 240, 222);
    display: block;
    overflow: hidden;
    box-shadow: 2px 2px 7px  rgb(150, 243, 238)
}
/* .frame :hover{
    box-shadow: 2px 2px 5px rgb(36, 35, 35)
} */