<footer class="text-center text-lg-start bg-dark text-muted">
    <section class="text-center">
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us:</span>
            
        </div>
        <p class="material-icons">groups</p>
        <div class="container">
            <h4>Hope you enjoy</h4>
        </div>
    </section>
</footer>