    <%- include('./reuse/headHTML'); %>

    <body>
        <header>
            <%- include('./reuse/head'); %>
        </header>
        <main>
            <div>

            </div>
        </main>
        <footer>
            <%- include('../partials/head'); %>
        </footer>
    </body>

</html>